{% extends "base.html.twig" %}

{% block title 'Hello From !' %}

{% block body %}
	<img src="{{ asset('/images/lille.jpg') }}" alt="logo Lille" class="h-32 mt-12 rounded shadow-md">
	<h1 class="mt-5 text-3xl sm:text-5xl font-semibold text-indigo-600">Hello from Québec!</h1>
	<p class="mt-2 text-lg text-gray-800">It's currently
		{{ 'now'|date('H:i:A') }}.</p>
	{# Le fuseau horaire est défini dans php.ini à la racine du projet #}
{% endblock %}
